* {
    margin: 0px;
    padding: 0px; 
}
nav {
    background-color: #727274;
    position: sticky;
    top: 0px; 
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;  
    text-align: right;
    }

nav ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    }
nav ul li a {
    display: inline-block;
    padding: 15px 12px 15px 12px;
    width: 90px;
    background-color: #727274;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-variant: small-caps;
    }

nav ul li a:hover {
      color: #ebd600;
    
}
nav ul li ul {
    display: none;
    position: absolute; 
    background-color: #727274;
}

nav ul li:hover ul {
    display: block;
    text-align: center; 
}

nav ul li ul li a {
    padding: 0 0 0 0;
    width: 125px;
}

