* {
    margin: 0px;
    padding: 0px; 
}
nav {
    background-color: #727274
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    }
    
nav ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    }
nav ul li a {
    display: inline-block;
    padding: 15px 15px 15px 15px;
    //width: 125px;
    background-color: #727274;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-variant: small-caps;
    }

nav ul li a:hover {
      color:black;
      background-color:#cacaca
    
}
nav ul li ul {
    display: none;
    position: absolute; 
    background-color: #727274;
}

nav ul li:hover ul {
    display: block;
    text-align: center; 
}

nav ul li ul li a {
    padding: 0 0 0 0;
    width: 125px;
}

