
@font-face { 
    font-family: AlexBrush; 
    src: url("AlexBrush-Regular.ttf"); 
    }

html, body {
    width: 100%; 
    height: 100%
}
header {
    grid-area: header;
}

nav {
    grid-area: nav; 

}
main {
    grid-area: main; 
}

footer {
    grid-area: footer;
}

body {
    display: grid;
    grid-template-rows: 65px 1fr 68px;
    grid-template-columns: 25% 20% 1fr;
    grid-gap: 10px 0px;
    grid-template-areas:  
    'header header nav'
    'main main main'
    'footer footer footer';
    background-image: url("images/Website_Background.png");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}
    header {
    background: #727274;
    width: 100%;
    height: 75px; 
    position: sticky; 
    top: 0; 
    left: 0; 
    z-index: 100;
    margin: 0; 
}

#logo {
   float: left;  
    margin: 12px; 
}

h1 {
    font-family: AlexBrush, cursive; 
    font-size: 2.5em;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    margin: 15px;
    padding-top: 3px; 
    position: absolute; 
    left: 55px; 
}

nav {
    background-color: #727274;
    height: 60px; 
    padding-top: 15px; 
    padding-right: 20px; 
}

#menu-icon {
    display: none; 
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    font-variant: normal; 
    color: #4501A0;  
    margin-bottom: 10px;  
}
h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    font-variant: normal; 
    color: #000066;
    padding: 15px 0px 5px 0px; 
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    font-variant: normal; 
    color: #727274;
    padding-bottom: 8px; 
}
    
div {
    background-color: #ffffff;
    margin: 0px 200px;
    padding: 25px 40px; 
}

#lecture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
    max-width: 37.5%; 
}

figcaption {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .75em;
    font-weight: normal;
    font-style: normal;   
    color:#000066;
    text-indent: 15px;
    line-height: .9em;
    padding: 0px 5px 5px 5px;
    text-align: center; 
}   

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
    max-width: 25%; 
}


#firstparagraph {
    text-indent: 0px;
}
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;   
    color:#000066;
    text-indent: 15px;
    line-height: 1.75;
    margin-bottom: 8px;
}

a {
    color: #4501A0;   
}

#education {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;   
    color:#000066;
    text-indent: 15px;
    line-height: 1.75;
    margin-bottom: 3px;
    padding: 5px;
}
    #education li {
        list-style-type: circle; 
        list-style-position: inside; 
        font-weight:normal; 
        padding: 0px 20px; 
        text-indent: 5px; 
        margin: 10px; 
    }


#tablename {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1em;
        font-weight: bold;
        font-style: normal;   
        color:#000066;
        text-align: left; 
        line-height: 1.75;
        padding: 5px;

    }   
    
table {
    border: 4px solid #727274; 
    border-collapse: collapse; 
    color: #000066;
    width: 85%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 10px; 
    font-family: Helvetica, Arial, sans-serif;
}

thead, 
tbody, 
td, 
th {
    padding: 8px; 
    
}
thead {
    background-color: #4501A0;
    color: #ffffff;
    text-align: left; 
}

tbody tr:nth-child(odd) {
    background-color: #cacace;
}


#video {
    position: relative;
    padding-bottom: 25%; 
    height: 0;
}

#video iframe{
    position: absolute;
    top:0;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px; 
  }

blockquote {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
    color: #4501A0;
    margin-bottom: 2px; 
    margin-top: 25px; 
    line-height: 1.5em; 
    text-align: center; 
}

#attribution {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal; 
    font-style: italic;
    font-variant: normal;
    text-align: center; 
    margin: 0px; 
    line-height: 1em;
    color: #4501A0;
}

/* Project Specific Items */
#Missouri, 
#ZIEL, 
#Career, 
#Pharmacy {
    background-color: #ffffff;
    margin: 25px; 
    padding: 0px;  
    scroll-margin-top: 75px; 

}
.assignments, 
.quizzes, 
.internship, 
.careerguide, 
.EA, 
.postcard {
    display: inline-block; 
    border: none; 
    border-radius: 50%;
    height: 180px; 
    width: 180px; 
    margin: 10px 30px; 
    border: 5px solid #4501A0;
    transition: 1s linear; 
}

#CAtitle, #CQtitle, #Toolkittitle, #CDGtitle, #EAtitle, #postcardtitle {
    font-family: Helvetica, Arial, sans-serif;;
    font-weight: bold; 
    color: #4501A0;
    padding: 0px 0px 0px 25px; 
}

.assignments a, 
.quizzes a, 
.internship a, 
.careerguide a, 
.EA a, 
.postcard a {
    color: #ffffff;
    text-decoration: none; 
    padding-top: 50px; 
}

a:hover {
    cursor: pointer; 
}

#manikin {
    display: inline-block; 
    border: none; 
    border-radius: 50%;
    height: 180px; 
    width: 180px; 
    margin: 10px 30px; 
    border: 5px solid #4501A0;
    transition: 1s linear; 
}

#manikin:hover {
    height: 360px;
    width: 360px; 
}

#manikincaption, #woundscaption {
    text-align: left; 
    padding:  0px 5px 0px 25px; 
}

#wounds {
    display: inline-block; 
    border: none; 
    border-radius: 50%;
    height: 180px; 
    width: 180px; 
    margin: 10px 30px; 
    border: 5px solid #4501A0;
    transition: 1s linear;
}

#wounds:hover {
    height: 360px;
    width: 360px; 
}

#woundscaption {
    text-align: left; 
    padding:  0px 5px 0px 25px; 
    margin-bottom: 15px; 
}

label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: normal;
    font-style: normal;   
    color:#000066;
    width: 50%; 
    display: block; 
    margin: 15px 0px 2px 0px; 
}

#firstname, #lastname, #emailadd {
    padding: 3px 8px; 
    margin-bottom: .5em; 
    width: 50%; 
    height: 30px; 
}

textarea {
    width: 50%; 
    height: 200px; 
    padding: 3px 8px; 
}


#submit {
    display: block; 
    margin: 5px 0px; 
    color: #ffffff; 
    background-color: #4501A0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight:bold; 
    padding: 8px; 
    border: none; 
    border-radius: 8px; 
}

#submit:hover {
    cursor: pointer; 
}


footer { 
    width: 100%; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold; 
    font-style: normal; 
    color:#ffffff;
    background-color: #727274;
    padding: 0px 0px 15px 0px; 
    text-align: center; 
    line-height: 20px; 
}

#email {
    height: 24px;
    width: 24px;
    padding: 8px 5px 0px 5px; 
    transition: 0.5s linear; 
}

#email:hover {
    transform: scale(1.25);
}

#emailfoot {
    color: #000066; 
}

#phone {
    height: 24px;
    width: 24px;
    padding: 8px 5px 0px 5px; 
    transition: 0.5s linear; 
}

#phone:hover {
    transform: scale(1.25);
}


/*media queries and responsive design*/
/*mobile*/
@media only screen and (max-width: 640px) /*mobile*/ {

/* mobile nav menu */
    
#menu-icon {
    display: block;
    float: right;
    padding-right: 20px;        
    width: 32px; 
    line-height: 20px;      
    font-size: 3em;
    color:#ffffff;
}
#menu-icon:hover {
    color: #ebd600;
}

    nav:hover ul {
    display: block; 
    width: 125px; 
    text-align: center; 

    }
    nav ul {
        background-color: #727274;
        display: none; 
        position: absolute; 
        text-align: center; 
    }

    nav ul li {
        text-align: center; 
    }

    nav ul li ul li {
        display: none; 
    }
    #lecture {
        max-width: 50%; 
    }
    table {
        width: 100%; 
        font-size: .75em; 
    }

    th, td {
        padding: 8px 2px; 
    }
/* responsive form styling */
    label {
        width: 90%; 
        font-weight: bold; 
    }
    
    #firstname, #lastname, #emailadd {
        width: 90%; 
    }
    
    textarea {
        width: 90%;  
    }

    footer {
        font-size: .75em; 
    }


    /* mobile grid styling */
    body {
        display: grid;
        grid-template-rows: 75px 1fr 50px;
        grid-template-columns: 75% 25%; 
        grid-gap: 0px 0px;  
        grid-template-areas:  
        'header nav'
        'main main'
        'footer footer'; 
    }

    h1 {
        font-size: 2em;
        padding-top: 8px; 
    }

    div {
        background-color: #ffffff;
        margin: 0px 25px;
        padding: 20px 25px;
    }
}

@media only screen and (min-width: 641px) and (max-width:1200px) /*tablet*/ {

    h1 {
        font-size: 2em;
        padding-top: 8px; 
    }
    header { 
        position: static; 
        left: 0; 
        z-index: 100;
        margin: 0; 
    }
    div {
        background-color: #ffffff;
        margin: 0px 85px;
        padding: 25px 25px;
    }
    nav {
        height: 38px; 
        position: sticky;
        top: 0px; 
        margin: 0px; 
    }
    nav ul {
        display: block; 
        position: absolute; 
        font-size: 1em; 

    }

    nav ul li {
        text-align: center; 
    }

    nav ul li ul li {
        display: none; 
    }
    body {
        display: grid;
        grid-template-rows: 70px 50px 1fr 50px;
        grid-template-columns: 100%; 
        grid-gap: 0px 0px;  
        grid-template-areas:  
        'header'
        'nav'
        'main'
        'footer';
    }
    #lecture {
        max-width: 50%; 
    }
    table {
        border: 4px solid #727274; 
        border-collapse: collapse; 
        color: #000066;
        width: 85%; 
        font-family: Helvetica, Arial, sans-serif;
        font-size: .9em; 
        margin: 5px 0px 30px 0px; 
    }

    label {
        width: 75%; 
    }
    
    #firstname, #lastname, #emailadd {
        width: 75%; 
    }
    
    textarea {
        width: 75%;  
    }

}
    /* print setup */

@media print {
    * {
        background: transparent !important; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #000000 !important;
        box-shadow: none !important; 
        text-shadow: none !important; 
    }

    nav, 
    #logo,
    #headshot,
    #email,
    #phone, 
    #video, 
    table, 
    #tablename,
    figcaption {
        display: none;
    }

    h2, 
    p, 
    blockquote, 
    #attribution, 
    footer {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    header {
        padding: 0px; 
        margin: 0px; 
        height: 40px;}

        h1 {
        font-size: 1.5em; 
        margin: 0px; 
    }

    h2 {
        font-size: 1.25em;
    }

    div {
        margin: 0px; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 11pt; 
    }

    blockquote {
        font-size: 11pt; 
        margin-bottom: 5px; 
    }

    #attribution {
        margin-bottom: 0px; 
    }

    footer {
        font-size: 11pt; 
        font-weight: normal; 


    }
    @page {
        margin: 1in; 
    }

}
    


