
@font-face { 
    font-family: AlexBrush; 
    src: url("AlexBrush-Regular.ttf"); 
    }

html, body {
    width: 100%; 
    height: 100%
}
header {
    grid-area: header;
}

nav {
    grid-area: nav; 

}
main {
    grid-area: main; 
}

footer {
    grid-area: footer;
}

body {
    display: grid;
    grid-template-rows: 65px 1fr 50px;
    grid-template-columns: 25% 20% 1fr;
    grid-gap: 10px 0px;
    grid-template-areas:  
    'header header nav'
    'main main main'
    'footer footer footer';
    background-image: url("images/Website_Background.png");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}
    header {
    background: #727274;
    width: 100%;
    height: 75px; 
    position: sticky; 
    top: 0; 
    left: 0; 
    z-index: 100;
    margin: 0; 
}

#logo {
   float: left;  
    margin: 12px; 
}
h1 {
    font-family: AlexBrush, cursive; 
    font-size: 2.5em;
    font-weight: bold;
    font-style: normal;
    color: #4501A0;
    margin: 15px;
    padding-top: 3px; 
    position: absolute; 
    left: 55px; 
}

nav {
    background-color: #727274;
    height: 60px; 
    padding-top: 15px; 
    padding-right: 20px; 
}

#menu-icon {
    display: none; 
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    font-variant: normal; 
    color: #000066;  
    margin-bottom: 10px;  
}
h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    font-variant: normal; 
    color: #727274 
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    font-variant: normal; 
    color: #727274
}
    
div {
    background-color: #ffffff;
    margin: 0px 200px;
    padding: 25px; 
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
    max-width: 25%; 
}
#firstparagraph::first-letter {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;  
    color:#4501A0;
}

#firstparagraph {
    text-indent: 0px;
}
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;   
    color:#000066;
    text-indent: 15px;
    line-height: 1.75;
    margin-bottom: 8px;
}

#education {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;   
    color:#000066;
    text-indent: 15px;
    line-height: 1.75;
    margin-bottom: 3px;
    padding: 5px;
}
    #education li {
        list-style-type: circle; 
        list-style-position: inside; 
        font-weight:normal; 
        padding: 0px 20px; 
        text-indent: 5px; 
        margin: 10px; 
    }

blockquote {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
    color: #4501A0;
    margin-bottom: 2px; 
}

#attribution {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal; 
    font-style: italic;
    font-variant: normal;
    text-indent: 50px; 
    margin: 0; 
    color: #4501A0;
}

footer { 
    width: 100%; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold; 
    font-style: normal; 
    color:#ffffff;
    padding: 0px 0px 15px 0px; 
    text-align: center; 
    line-height: 20px; 
    background-image: url("images/footer2.png");

}



#email {
    height: 24px;
    width: 24px;
    padding-top: 8px; 
}

#phone {
    height: 24px;
    width: 24px;
    padding-top: 8px; 
}

/*media queries and responsive design*/
/*mobile*/
@media only screen and (max-width: 640px) /*mobile*/ {

/* mobile nav menu */
    
#menu-icon {
    display: block;
    float: right;
    padding-right: 20px;        
    width: 32px; 
    line-height: 60px;      
    font-size: 3em;
    color:#ffffff;
}
#menu-icon:hover {
    color: #ebd600;
}

    nav:hover ul {
    display: block; 
    width: 125px; 
    text-align: center; 

    }
    nav ul {
        background-color: #727274;
        display: none; 
        position: absolute; 
        text-align: center; 
    }

    nav ul li {
        text-align: center; 
    }

    nav ul li ul li {
        display: none; 
    }
    footer {
        font-size: .75em; 
    }


    /* mobile grid styling */
    body {
        display: grid;
        grid-template-rows: 75px 1fr 50px;
        grid-template-columns: 75% 25%; 
        grid-gap: 0px 0px;  
        grid-template-areas:  
        'header nav'
        'main main'
        'footer footer'; 
    }

    h1 {
        font-size: 2em;
        padding-top: 8px; 
    }

    div {
        background-color: #ffffff;
        margin: 0px 25px;
        padding: 20px 25px;
    }
}

@media only screen and (min-width: 641px) and (max-width:1200px) /*tablet*/ {

    h1 {
        font-size: 2em;
        padding-top: 8px; 
    }
    header { 
        position: static; 
        left: 0; 
        z-index: 100;
        margin: 0; 
    }
    div {
        background-color: #ffffff;
        margin: 0px 85px;
        padding: 25px 25px;
    }
    nav {
        height: 38px; 
        position: sticky;
        top: 0px; 
        margin: 0px; 
    }
    nav ul {
        display: block; 
        position: absolute; 
        font-size: 1em; 

    }

    nav ul li {
        text-align: center; 
    }

    nav ul li ul li {
        display: none; 
    }
    body {
        display: grid;
        grid-template-rows: 70px 50px 1fr 50px;
        grid-template-columns: 100%; 
        grid-gap: 0px 0px;  
        grid-template-areas:  
        'header'
        'nav'
        'main'
        'footer';
    }

}
    /* print setup */

@media print {
    * {
        background: transparent !important; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #000000 !important;
        box-shadow: none !important; 
        text-shadow: none !important; 
    }

    nav, 
    #logo,
    #headshot,
    #email,
    #phone {
        display: none;
    }

    h2, 
    p, 
    blockquote, 
    #attribution {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    header {
        padding: 0px; 
        margin: 0px; 
        height: 40px;}

        h1 {
        font-size: 1.5em; 
        margin: 0px; 
    }

    h2 {
        font-size: 1.25em;
    }

    div {
        margin: 0px; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 11pt; 
    }

    blockquote {
        font-size: 11pt; 
        margin-bottom: 5px; 
    }

    #attribution {
        margin-bottom: 0px; 
    }

    footer {
        font-size: 11pt; 
        font-weight: normal; 
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
    @page {
        margin: 1in; 
    }

}
    


