
h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
    color: #4501A0;
    margin: 15px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    font-variant: normal; 
    color: #000066;  
    margin-bottom: 10px;  
}
div {
    background-color: #ffffff;
    margin: 50px 100px;
    padding: 50px
}
#firstparagraph::first-letter {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;  
    color:#4501A0;
}

#firstparagraph {
    text-indent: 0px;
}
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;   
    color:#000066;
    text-indent: 15px;
    line-height: 1.75;
    margin-bottom: 8px;

}

blockquote {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
    font-variant: normal;
    color: #4501A0;
}

footer {
    background-color: #727274;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: normal; 
    font-style: normal; 
    color:#ffffff;
}
